*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

/* Nav Bar */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#FF80FF;
    border:2px gray solid;
}

.navbar li {
    align-items: center;
    float: left;
    padding:6px;
    color:navy;
}

.navbar li a {
    display: block;
    color: navy;
    text-align: center;
    padding-left: 40px;
    text-decoration: none;
    font-size:12px;
}

.column {
    float: left;
    height: 350px;
}

/* Left column */
.left{
    width:78%;
    border: 3px solid gray;
}

.left h3{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.left h5{
    padding-left:5px;
}

.left p{
    font-size:10px;
    padding-left: 5px;
}

/* Right Column */
.right{
    width:22%;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

.right h3{
    text-align: center;
}

.right ul{
    padding-left:30px;
}

.right li a{
    font-size: 9px;
}